.main-swiper {
  min-height: 360px;
  max-height: 750px;
  padding-bottom: 50px;

  .swiper-slide {
    &[data-type="exterior"] {
      display: none;
    }
    picture,img {
      display: block;
      height: auto;
      width: 100%;
      min-height: 310px;
      max-height: 700px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: initial;
    bottom: 0;
    height: 40px;
    width: 40px;

    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    right: calc(50% - 70px);
  }

  .swiper-button-prev {
    left: calc(50% - 70px);
  }
}
