.main-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--white-color);

  &.js-sticky {
    box-shadow: 0 4px 2px -2px var(--box-shadow-color);
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 32px 0;

    @include m-b-laptop-down {
      padding: 16px 0;
    }
  }

  &__link {
    @extend .flex-centered-content;
    margin-right: 8px;

    &--logo {
      margin-right: auto;
      @extend .hover-opacity;
    }

    &--social {

      svg {
        fill: var(--gray-color);
        transition: fill var(--main-transition);
      }

      &:hover,
      &:focus {
        svg {
          fill: var(--hover-black);
        }
      }
    }

    &--phone {
      @extend .hover-opacity;
      font-size: 20px;
      font-weight: 700;
      margin-right: 0;
      color: var(--gray-color);

      @include m-b-down('600px') {
        font-size: 16px;
      }
    }

    @include m-b-down('600px') {
      &--logo {
        width: 70px;
        height: 30px;
      }

      &--phone {
        margin-right: 8px;
      }

      &--social {
        order: 2;
        margin-right: 0;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  &__btn {
    @extend .main-btn;
    @extend .background-color-hover;
    min-width: 190px;
    margin-right: 8px;


    @include m-b-down('600px') {
      margin-right: 0;
      margin-top: 12px;
      order: 3;
      max-width: 100%;
    }
  }
}
