-
  const accordeonData = [

    { title: 'Каркас', bodyText: ['LVL брус'], isActive: true },

    { title: 'Остекление', bodyText: ['Панарамное остекление ', 'Кухонное окно'] },
    { title: 'Утепление', bodyText: ['Минеральная вата'] },
    { title: 'Кровля', bodyText: ['Наплавляемая полимер битумная'] },
    { title: 'Внешняя отделка', bodyText: ['Планкен из лиственницы', 'Планкен из сосны'] },
    { title: 'Терасса', bodyText: ['Лиственница вельвет', 'Палубная доска из сосны'] },
    { title: 'Внутренняя отделка', bodyText: ['Шлифованная березовая фанера скрытый крепеж'] },
    { title: 'Электрика', bodyText: ['Разводка', 'Электрический щиток', 'Розетки и выключатели ', 'Осветительные приборы'] },
    { title: 'Отопление', bodyText: ['Внутрипольные конвекторы', 'Батарея электрическая', 'Электрический пол с подогревом'] },
    { title: 'Вентиляция', bodyText: ['Приточный клапан', 'Рекуператор', 'Кондиционер'] },
    { title: 'Двери', bodyText: ['Дверь металлическая', 'Дверь с терморазрывом', 'Дверь в санузел'] },
    { title: 'Санузел', bodyText: ['Разводка санузла и кухни', 'Отопительный электрический котел 80 л', 'Инсталяция для унитаза', 'Унитаз напольный', 'Душевая', 'Раковина'] },
    { title: 'Кухня и мебель', bodyText: ['Кухонный гарнитур', 'Барная стойка', 'Стулья', 'Кровать', 'Тумбы', 'Диван', '*Индивидуальный расчет'] },
    { title: 'Фундамент', bodyText: ['Проект разбивки свайного фундамента', 'Монтаж свайного фундамента'] },
    { title: 'Доставка', bodyText: ['*Расчитывается отдельно по км'] },

  ]

.accordeon#chars-accordeon
  each field in accordeonData
    .accordeon-field
      .accordeon-head(class= field.isActive ? 'js-active' : null)
        span.lw-text-lg= field.title
        svg(width="16" height="16")
          use(xlink:href="./assets/svg-sprite.svg#icon-plus")

      .accordeon-body(class= field.isActive ? 'js-opened' : null)
        each text in field.bodyText
          p.lw-text-sm.lw-fw-light= text
        if field.bodyImg
          img(src=`./assets/img/${field.bodyImg}@1x.png` alt= field.title width="561" height="92")
