extends layouts/main-layout.pug

block variables
  -
    const title = "PixelWood"
    const desc = "Производство модульных домов"
    const keywords = ""

block content
  include ./sections/index-page/intro
  include ./sections/index-page/advantages
  include ./sections/index-page/features
  include ./sections/index-page/interior
  include ./sections/index-page/feedback
  include ./sections/index-page/chars

block modals
  include ./modals/callback-modal
  include ./modals/article-modal
  include ./modals/thanks-modal
  include ./modals/error-modal
