.modal-overlay
  .modal#article-modal
    .modal__header
      button(type="button").modal__close.callback-modal__close
        svg(width="24" height="24")
          use(xlink:href="./assets/svg-sprite.svg#icon-plus")
    .modal__content
      .container
        h2.lw-text-md Заголовок

        .modal__content-text
          p.lw-text.sm.lw-fw-light
            | Далее рыба текст Модульный дом BIT26 состоит из двух модулей
            | размерами <span>6100 х 2500 мм.</span> В собранном виде чистовая площадь дома без террасы составит <span>26 м2.</span> Площадь террасы — 11 м2, здесь легко поместится обеденный стол для пикника.

          p.lw-text.sm.lw-fw-light
            | Pixelwood придерживается таких размеров модулей, чтобы соблюсти регламент о перевозке негабаритных грузов.  Ваш будущий дом можно без специальных разрешений перевозить по общественным дорогам.

          p.lw-text.sm.lw-fw-light
            | Модульный дом не требует капитальной застройки. Это означает, что вам не нужно
            | получать разрешение на строительство. Вы можете устанавить его в удобном месте или там, где стройка запрещена или ограничена — например,
            | в прибрежной зоне или на арендованной земле.

          p.lw-text.sm.lw-fw-light В доме есть все необходимое для комфортной жизни: кухня, обеденная зона, прихожая, полноценный санузел с ванной.
