.message-modal {
  max-height: 200px;
  background-image: url('../assets/img/feedback-bg@1x.jpg');
  background-size: cover;
  background-position: center;

  .modal__content {
    color: var(--white-color);
    display: flex;
    align-items: flex-end;
    padding: 25px;
  }

  &.is-active {
    animation: showMessage 0.4s linear forwards;
}

@keyframes showMessage {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
}
