#callback-modal {
  .feedback {
    height: 100%;
    padding: 50px 0;
  }

  .form__accept {
    margin-bottom: 20px;
  }

  .modal__close {
    border: 0;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: transparent;

    svg {
      fill: var(--white-color);
      transform: rotate(45deg);
    }
  }
}
