mixin form(options)
  form(action="mail.php" method="POST").form
    .form__content
      fieldset.form__data
        input(type="text" placeholder="Как к вам обращаться" id= options.nameFieldID)
        input(type="tel" placeholder="Номер телефона" id= options.phoneFieldID)

      fieldset.form__accept
        input(type="checkbox" id= options.acceptFieldID)
        label(for= options.acceptFieldID).checkbox-label  Я даю согласие на обработку персональных данных в соответствии с <a href="#">политикой&nbsp;конфиденциальности</a>

    button(type="submit").form__btn Заказать
