section.features
  .container
    .features__section
      .features__section-content
        h2.lw-text-xxl Планировка

        p.lw-text-md.lw-fw-light.features-text
          | Модульный дом BIT26 состоит из двух модулей размерами <span>6100 х 2500 мм.</span> В собранном виде чистовая площадь дома без террасы
          | составит <span>26 м2.</span>
          | Площадь террасы — 11 м2, здесь легко поместится обеденный стол для пикника.

        p.lw-text-md.lw-fw-light.features-text
          | Pixelwood придерживается таких размеров модулей, чтобы соблюсти регламент о перевозке негабаритных грузов.  Ваш будущий дом можно без специальных разрешений перевозить по общественным дорогам.

        p.lw-text-md.lw-fw-light.features-text
          | Модульный дом не требует капитальной застройки. Это означает, что вам не нужно
          | получать разрешение на строительство. Вы можете устанавить его в удобном месте или там, где стройка запрещена или ограничена — например,
          | в прибрежной зоне или на арендованной земле.
        p.lw-text-md.lw-fw-light.features-text
          | В доме есть все необходимое для комфортной жизни: кухня, обеденная зона, прихожая, полноценный санузел с ванной.

      picture.features__section-img
        source(type="image/webp" srcset="./assets/img/layout@1x.webp 1x, ./assets/img/layout@2x.webp 2x")
        img(src="./assets/img/layout@1x.png" srcset="./assets/img/layout@2x.png 2x" alt="Планировка" width="880" height="636")

    .features__section
      picture.features__section-img
        source(type="image/webp" srcset="./assets/img/constructive@1x.webp 1x, ./assets/img/constructive@2x.webp 2x")
        img(src="./assets/img/constructive@1x.png" srcset="./assets/img/constructive@2x.png 2x" alt="Конструктив" width="872" height="542")

      .features__section-content
        h2.lw-text-xxl Конструктив

        p.lw-text-md.lw-fw-light.features-text
          |  В основе каркасного домостроения — высокоточная технология
          |  производства с проработкой мельчайших деталей на этапе
          |  проектирования.

        p.lw-text-md.lw-fw-light.features-text
          |  Каркас дома выполнен из LVL-бруса — эта технология
          |  позволяет увеличить прочность, надежность и
          |  долговечность сооружения.

        p.lw-text-md.lw-fw-light.features-text
          | Все детали дома прошли обработку на ЧПУ-станке включая
          | внутреннюю фанерную обшивку — благодаря этому
          | соединительные узлы сделаны максимально точно и надежно.

        p.lw-text-md.lw-fw-light.features-text
          |  Несущая способность главных балок перекрытия BIT26 достаточна для использования плоской кровли в любом снеговом районе

    .features__section
      .features__section-content
        h2.lw-text-xxl Производство

        p.lw-text-md.lw-fw-light.features-text
          | Цех Pixelwood расположен в Рязани.
          | Это собственное производство общей площадью 600 м2, полностью
          | укомплектованное современным оборудованием.

        p.lw-text-md.lw-fw-light.features-text
          | Pixelwood использует конвейерный цикл производства, что позволяет увеличить
          | cкорость и оптимизировать изготовление модульного дома. Ваш дом будет готов в срок от 1 месяца — это намного быстрее, чем в других компаниях.

        p.lw-text-md.lw-fw-light.features-text
          | Команда Pixelwood скрупулезно подходит ко всем этапам производства и проектирования модульных домов.
          | Наш главный приоритет  — надежность и безопасность
          | производственного цикла. Вы получите дом, в котором не придётся ничего переделывать или жертвовать своим комфортом.

      picture.features__section-img
        source(type="image/webp" srcset="./assets/img/production@1x.webp 1x, ./assets/img/production@2x.webp 2x")
        img(src="./assets/img/production@1x.png" srcset="./assets/img/production@2x.png 2x" alt="Производство" width="651" height="779")
