section.intro
  .container
    .intro__content
      h1.visually-hidden PixelWood - производство модульных домов
      h2.lw-text-xxl Живите на природе с комфортом
      p.lw-text-md.lw-fw-light Создаем лаконичные и удобные модульные дома, которые стоят дешевле городской квартиры

  .gsap-animate-container
    picture
      source(type="image/webp" srcset=`./assets/img/intro-large@1x.webp 1x, ./assets/img/intro-large@1x.webp 2x`)
      img(src=`./assets/img/intro-large@1x.jpg` srcset=`./assets/img/intro-large@1x.jpg 2x` alt="Фото интерьера").intro__img

    //.gsap-animate-overlay
      .top
      .middle
      .bottom
