section.intro
  .container
    .intro__content
      h1.visually-hidden PixelWood - производство модульных домов
      h2.lw-text-xxl Живите на природе с комфортом
      p.lw-text-md.lw-fw-light Создаем лаконичные и удобные модульные дома, которые стоят дешевле городской квартиры
  img(src="./assets/img/intro-large@1x.jpg" alt="Модульный дом BIT26" width="1920" height="542").intro__img

