mixin head(title, desc, keywords)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content=`${desc}`)
    meta(name="keywords" content=`${keywords}`)
    title!= title

    //link(rel="icon" type="image/x-icon" href="./favicon.ico")
    link(rel="preload" href="./assets/img/main-logo.svg" as="image")
    link(rel="preload" href="./assets/img/intro-large@1x.webp" as="image")
    link(rel="preload" href="./assets/img/intro-large@1x.jpg" as="image")
    link(rel="preload" href="./assets/fonts/RobotoCondensed-Bold.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="./assets/fonts/RobotoCondensed-Regular.woff2" as="font" type="font/woff2" crossorigin)

    link(rel="stylesheet" href="./assets/main.css")
    script(defer src="./assets/bundle.js")
