@mixin main-btn($color: var(--white-color), $background: transparent, $border: null, $full-width: false) {
  width: fit-content;
  max-width: fit-content;
  min-width: 190px;
  min-height: 55px;
  padding: 18px 36px;
  color: $color;
  background-color: $background;

  @if $full-width != false {
    max-width: 100%;
  }

  border: 1px solid transparent;

  @if $border != null {
    border: 1px solid $border;
  }

}
