.features {
  @extend .section-padding;

  &__section {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @include m-b-laptop-down {
      flex-direction: column;
    }

    &-content {
      width: 50%;
      padding-right: 20px;
      margin-bottom: 70px;

      &:not(:nth-child(2)) {
        margin-right: 80px;
      }

      &:nth-child(2) {
        margin-left: 80px;
      }

      @include m-b-desktop-down {
        &:not(:nth-child(2)) {
          margin-right: 60px;
        }

        &:nth-child(2) {
          margin-left: 60px;
        }
      }

      @include m-b-laptop-down {
        width: 100%;
        padding-right: 0;
        order: 2;
        margin-bottom: 30px;

        &:not(:nth-child(2)) {
          margin-right: 0;
        }

        &:nth-child(2) {
          margin-left: 0;
        }
      }
    }

    &-img {
      @extend .flex-centered-content;
      width: 50%;

      img {
        object-fit: contain;

        @include m-b-laptop-down {
          max-height: 600px;
        }
      }

      @include m-b-laptop-down {
        width: 100%;
        margin-bottom: 24px;
        order: 1;
      }
    }
  }

  &-swiper {
    .features-swiper-title {
      text-align: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
      top: initial;
      bottom: -10px;
      height: 40px;
      width: 40px;

      &::after {
        display: none;
      }
    }

    .swiper-button-next {
      right: calc(50% - 50px);
    }

    .swiper-button-prev {
      left: calc(50% - 50px);
    }
  }

  &-text {
    margin-bottom: 25px;
  }
}
